<div>index</div>

<!--<div>Warehouse list</div>-->

<%# @warehouses.each do |wh| %>
<!--  <div class="d-flex flex-row">-->
<!--    <p><%#= wh.title %></p>-->
<!--    <p><%#= wh.number %></p>-->
<!--    <p><%#= wh.address %></p>-->
    <%#= link_to 'View', warehouses_path, method: :get, class: 'btn' %>
    <%#= link_to 'Edit', warehouses_path, method: :get, class: 'btn btn-primary' %>
<!--  </div>-->

<%# end %>