<%= react_component('UserOrders/UserOrders', { userOrders: @orders }) %>

<!--<div data-controller="OrderIndex">-->
<!--  <div>Orders list</div>-->

  <%# if @orders.empty? %>
<!--    <p>No orders</p>-->
  <%# else %>

  <%# end %>
<!--</div>-->
