<div>Warehouse list</div>

<% if @warehouses.empty? %>
  <p>Список складов пуст</p>
<% else %>

  <table class="table col-7">
    <thead>
    <tr>
      <th scope="col-4">Title</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @warehouses.each do |wh| %>

      <tr>
        <th scope="row"><%= wh.title %></th>
        <td>
          <%= link_to 'Info', warehouse_path(wh.id), method: :get, class: 'btn btn-secondary' %>                <!-- wh.id-->
          <%= link_to 'Products', warehouse_products_path(wh.id), method: :get, class: 'btn btn-primary' %>
        </td>
      </tr>

    <% end %>

    </tbody>
  </table>
<% end %>